* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Hind Madurai", sans-serif;
}

body {
  z-index: 1;
  background-image: url(../img/bg-2.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

a {
  text-decoration: none;
}

.container {
  width: 90vw;
  max-width: 100rem;
  height: min-content;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-12rem);
}
.container h2 {
  font-size: 5.6rem;
  font-weight: 100;
  align-self: center;
  color: #ffffff;
  line-height: 0.8;
  letter-spacing: -1px;
  align-self: flex-start;
}
.container span {
  font-size: 1.6rem;
  letter-spacing: 0;
  color: #ffffff;
  align-self: flex-start;
}
.container input {
  display: flex;
  width: 100%;
  padding: 2rem;
  height: 7rem;
  border-radius: 1.5rem;
  outline: none;
  margin-bottom: 4rem;
  margin-top: 2rem;
  border: none;
  font-size: 2.1rem;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2078431373);
  background-color: rgba(255, 255, 255, 0.1450980392);
  color: #ffffff;
  backdrop-filter: blur(10px);
  transition: all 0.3s;
}
.container input:focus {
  background-color: rgba(255, 255, 255, 0.2509803922);
  transition: all 0.3s;
}
.container input:focus::placeholder {
  transition: all 0.2s;
  transform: translateY(-2rem);
  font-size: 1.6rem;
  color: #eee;
}
.container input::placeholder {
  font-weight: 100;
  font-size: 2.1rem;
  color: #eee;
}
.container .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.container .btn {
  cursor: pointer;
  padding: 1.2rem 0;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  background-color: transparent;
  color: #ffffff;
  font-size: 2.1rem;
  border: 2px solid #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.0823529412);
  transition: all 0.3s;
}
.container .btn:hover {
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2509803922);
  background-color: rgba(255, 255, 255, 0.0823529412);
}
.container i {
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.developer {
  position: absolute;
  bottom: 2rem;
  left: 0rem;
  padding: 2rem;
  font-size: 1.6rem;
  background-image: linear-gradient(120deg, #ffffff 35%, rgba(255, 255, 255, 0.3960784314) 100%);
  backdrop-filter: blur(10px);
  border-radius: 1.5rem;
  border: 2px solid rgba(255, 255, 255, 0.4588235294);
  color: #333;
  scale: 0.8;
  transition: all 0.3s;
  user-select: none;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2078431373), -0.5rem -0.5rem 2rem rgba(255, 255, 255, 0.5215686275), 1rem 1rem 1rem rgba(124, 124, 124, 0.3333333333);
}
.developer:hover {
  transform: translateY(-0.2rem);
}

/*# sourceMappingURL=style.css.map */
